<form>
  <div class="container">
    <div class="eleven columns">
      <div class="four columns offset-by-five input-margin">
        <label for="newPasswordInput1">New Password</label>
        <input class="u-half-width" type="password" placeholder="password" id="newPasswordInput1" [(ngModel)]="password1" name="password1" />
      </div>
      <div class="four columns offset-by-five input-margin">
        <label for="newPasswordInput2">Confirm Password</label>
        <input class="u-half-width" type="password" placeholder="password" id="newPasswordInput2" [(ngModel)]="password2" name="password2" />
      </div>
      <div class="four columns offset-by-five input-margin">
        <input class="button-primary" type="submit" value="Submit" (click)="saveNewPassword()" />
      </div>
    </div>
  </div>
</form>

<div class="container">
    <div class="eleven columns">
      <div class="four columns offset-by-five input-margin">
        <alert type="success" *ngIf="showSuccess" class="alert-box">Awesome! Your password has been reset.</alert>
        <alert type="warning" *ngIf="showWarning" class="alert-box">{{warningMessage}}</alert>
        <alert type="danger" *ngIf="showError" class="alert-box">We're sorry, but something seems to have gone wrong with password reset. Your link may have expired, please try again.
          <accordion>
            <accordion-group #group>
              <div accordion-heading>
                Error Details
                <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
              </div>
              <code class="error-code">
                 {{errorText}}
              </code>
            </accordion-group>
          </accordion>
        </alert>
      </div>
    </div>
  </div>